body {
  margin: 0;
}
.main-title {
  font-family: sans-serif;
  width: 50%;
  text-align: center;
  margin: 100px auto;
}
.items-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 30px;
  justify-content: center;
}
.item {
  width: 300px;
  background-color: rgba(28, 68, 147, 0.44);
  overflow: scroll;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
.item .title {
  text-transform: uppercase;
  font-size: 13pt;
  background-color: rgb(52, 52, 52);
  margin: 0;
  padding: 20px;
}
.item .medium-feed-snippet {
  padding: 10px;
}
.items-container {
  padding-bottom: 100px;
}
.item img {
  width: 100%;
}
iframe {
  border: none;
}
.hidden {
  display: none;
}
.close {
  position: relative;
  font-size: 20pt;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 100px;
  position: absolute;
  top: 370px;
  right: 100px;
  display: none;
}

.close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
